.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
.DS_Store
SERRALDE/Code/Copia de template.docx
SERRALDE/Code/Copia de template.dotx
SERRALDE/Code/listado_actualizado_personal.docx
SERRALDE/Code/tarjeta-digital.docx
SERRALDE/Code/template.docx
SERRALDE/Code/template.dotx
